* {
    margin: 0;
    padding: 0;
}
  
html {
    background-color: gray;
}

body {
    max-width: 1024px;
    min-width: 320px;
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
    background-color: floralwhite;
    font-size: 1.05rem;
}

ul,
ol {
    list-style-type: none;
    margin: 0 0 0 20px;
}

.header {
    display: flex;
    padding: 20px;
    background: #483d8b;
    background: linear-gradient(90deg, #483d8b, white);	
}

.main_info {
    display: flex;
    flex-direction: column;
    margin: 0 0 0 20px;
    align-items: flex-start;
}

.main_info-name {
    margin: 0 0 20px;
}

.content {
    padding: 30px;
}

.info_block {
    margin: 60px 0;
}

.info_block-title {
    margin-bottom: 20px;
    color: #483d8b;
}
